form {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 5px;
  row-gap: 5px;
}

mat-dialog-content {
  overflow: visible;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-content: center;
  }
}

.mat-cancel {
  color: white;
}
